<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.supermarket.test.ManageListLocationsTest"/>
      <class name="com.supermarket.test.ManageNewsPageTest"/>
      <class name="com.supermarket.test.ManageDeliveryBoyTest"/>
      <class name="com.supermarket.test.ManageSliderTest"/>
      <class name="com.supermarket.test.LoginTest"/>
      <class name="com.supermarket.test.ManageSettingsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
